<div class="container bg-white">
    <div class="row-fluid">

        <div class="featured-images">
            <div class="block-content">
                <h1>Subscribe</h1>
                <h4>Keep up-to-date blablabla</h4>
                <form method="post" action="/subscribe{{#if referralId}}?referralId={{referralId}}{{/if}}">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Email" name="email">
                    </div>
                    <!--<div class="g-recaptcha" data-sitekey="6LdIUhAUAAAAAErXXHubwgGYcyHlBkgmXOBSDsKH"></div>-->
                    <button type="submit" class="btn btn-default">Keep me up to date</button>
                </form>
            </div>
        </div>
    </div>
</div>